---
import BoYouQuanBadge from "@components/layout/BoYouQuanBadge.svelte";
import IcpNumberBadge from "@components/layout/IcpNumberBadge.svelte";
import McpNumberBadge from "./McpNumberBadge.svelte";
---
<div class="footer-badges">
    <!--博友圈-->
    <BoYouQuanBadge client:only="svelte" />

    <!-- ICP备案号 -->
    <IcpNumberBadge client:only="svelte" />

    <!--萌ICP备案号-->
    <McpNumberBadge client:only="svelte" />
</div>

<style>
    .footer-badges {
        display: flex;
        align-items: center;
        gap: 12px;
    }
</style>
