---
import BoYouQuanBadge from "@components/layout/BoYouQuanBadge.svelte";
import IcpNumberBadge from "@components/layout/IcpNumberBadge.svelte";
import McpNumberBadge from "./McpNumberBadge.svelte";
---
<div class="footer-badges">
    <!--博友圈-->
    <BoYouQuanBadge client:only="svelte" />

    <!-- ICP备案号 -->
    <IcpNumberBadge client:only="svelte" />

    <!--萌ICP备案号-->
    <McpNumberBadge client:only="svelte" />
</div>

<style>
    .footer-badges {
        display: flex;
        flex-wrap: wrap;          /* ✅ 允许换行 */
        justify-content: center;  /* ✅ 移动端居中 */
        align-items: center;
        column-gap: 12px;
        //gap: 12px;
    }
</style>
